body {
  color: #0E3E7B;
  background-color: #fcfcfc; }
  body .btn-primary {
    background-color: #0E3E7B;
    border-color: #0E3E7B; }
    body .btn-primary:hover {
      background-color: #186cd7;
      border-color: #186cd7; }
  body p {
    font-size: 1rem; }
  body header {
    margin-top: 10px;
    display: block;
    background-color: #fcfcfc; }
    body header img {
      display: block;
      margin: auto; }
    body header .items h1 {
      font-size: 0.8rem; }
    body header .items h2 {
      font-size: 0.8rem; }
    body header .items h3 {
      font-size: 0.8rem; }
  body nav {
    margin: 15px 0; }
    body nav .items {
      list-style: none;
      justify-content: space-between; }
      @media only screen and (min-width: 400px) {
        body nav .items {
          display: block; } }
      @media only screen and (min-width: 1024px) {
        body nav .items {
          display: inline-flex; } }
      body nav .items li a {
        color: #0E3E7B;
        font-size: 1rem; }
  body article {
    padding-bottom: 10px; }
    body article aside ul {
      padding-left: 5px;
      list-style: none;
      margin-bottom: 0; }
      body article aside ul h1 {
        font-size: 2rem; }
        body article aside ul h1 a {
          color: black;
          font-size: 0.8rem; }
      body article aside ul li {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem; }
        body article aside ul li a {
          color: #0E3E7B;
          font-size: 1rem;
          margin-left: 1rem; }
    body article section .left-space {
      margin-left: 16px; }
    body article section p {
      overflow: auto;
      word-wrap: break-word; }
  body footer {
    margin-top: 15px;
    background-color: #0E3E7B; }
    body footer ul {
      list-style: none;
      display: flex;
      justify-content: space-around; }
      body footer ul li {
        color: white; }
        body footer ul li a {
          color: white; }
