@import 'mixins';
$bgMainColor: #fcfcfc;
$colorMainText: #0E3E7B;

body {
	color: $colorMainText;
	background-color: $bgMainColor;

	.btn-primary {
		background-color: $colorMainText;
		border-color: $colorMainText;

		&:hover {
			$lighten: 20;
			background-color: lighten($colorMainText, $lighten);
			border-color: lighten($colorMainText, $lighten);
		}
	}

	p {
		font-size: 1rem;
	}

	header {
		margin-top: 10px;
		display: block;
		background-color: $bgMainColor;

		img {
			display: block;
			margin: auto;
		}

		.items {
			h1 {
				font-size: 0.8rem;
			}

			h2 {
				font-size: 0.8rem;
			}

			h3 {
				font-size: 0.8rem;
			}
		}
	}

	nav {
		margin: 15px 0;

		.items {
			list-style: none;

			@include mq ('phone') {
				display: block;
			}

			@include mq ('tablet-wide') {
				display: inline-flex;
			}
			justify-content: space-between;

			li {
				a {
					color: $colorMainText;
					font-size: 1rem;
				}
			}
		}
		// .dropdown-toggle {
		// 	&:after {
		// 		display: none;
		// 	}
		// }
	}

	article {
		padding-bottom: 10px;

		aside {
			// background-color: $bgMainColor;
			// border: 1px solid darken($bgMainColor, 10);
			// border-radius: 10px;
			ul {
				padding-left: 5px;
				list-style: none;
				margin-bottom: 0;

				h1 {
					font-size: 2rem;

					a {
						color: black;
						font-size: 0.8rem;
					}
				}

				li {
					margin-top: 0.2rem;
					margin-bottom: 0.2rem;

					a {
						color: $colorMainText;
						font-size: 1rem;
						margin-left: 1rem;
					}
				}
			}
		}

		section {
			.left-space {
				margin-left: 16px;
			}

			p {
				overflow: auto;
				word-wrap: break-word;
			}
		}
	}

	footer {
		margin-top: 15px;
		background-color: $colorMainText;

		ul {
			list-style: none;
			display: flex;
			justify-content: space-around;

			li {
				color: white;

				a {
					color: white;
				}
			}
		}
	}
}
